:root {
    --main-bg-color: #D84282;
    --menu-bar-width: 80px;
    --menu-bar-heigth: 10px ;
}

.container {
    display: block;
    border: solid 1px  yellow;
    width: var(--menu-bar-width);
    height: 50px;
    margin: 100px;
    padding: 0;
    transition: 0.2s;
}

#menu {
    background-color: var(--main-bg-color);
    width: var(--menu-bar-width);
    height: var(--menu-bar-heigth);
    position: relative;
    display: block;
    top: 20px;
    transition: 0s;
}

#menu::before,
#menu::after {
    background-color: var(--main-bg-color);
    width: var(--menu-bar-width);
    height: var(--menu-bar-heigth);
    position: absolute;
    content: "";
    transition: 0.4s ease-in;
}

#menu::before {
    top: -20px;
    left: 0px;
    transform: rotate(0deg);
}

#menu::after {
    left: 0;
    bottom: -20px;
    transform: rotate(0deg);
}

.container:hover #menu {
    background-color: transparent;
    transition: 0.4s;
}

.container:hover #menu::before {
    transition: ease-in 0.3s;
    transform: rotate(45deg);
    top: 0;
}

.container:hover #menu::after {
    transition: ease-in 0.3s;
    transform: rotate(-45deg);
    bottom: 0;
}





